@font-face {
  font-display: swap;
  font-family: GothamPro;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: GothamPro;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: GothamPro;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "GothamPro";
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* lawyer */
.lawyer {
  padding: 30px 0;
  position: relative;
}
.lawyer__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.lawyer__info {
  margin-bottom: 60px;
  & > span {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.lawyer__info-name {
  font-size: 50px;
  font-weight: 500;
  color: #56638d;
  margin-bottom: 20px;
}
.lawyer__info-text {
  max-width: 346px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
}
.lawyer__info-btn {
  position: relative;
  background-color: #91278f;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  padding: 24px 30px;
  font-size: 24px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}
.lawyer__info-btn:hover {
  background-color: #541753;
}
.lawyer__info-btn::before {
  content: "";
  position: absolute;
  background-image: url(../images/btn-back.svg);
  background-repeat: no-repeat;
  z-index: -1;
  top: -51px;
  width: 397px;
  height: 176px;
}
.lawyer__img {
  width: 648px;
  height: 582px;
  background-image: url(../images/lawyer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
}
.lawyer__img-dec {
  position: absolute;
  right: 0;
  bottom: 90px;
  z-index: 0;
}

/* result */
/* gold: #BF994D */
.result {
  position: relative;
}
.result__row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.result__title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 80px;
  margin-bottom: 25px;
  & > span {
    border-bottom: 4px solid #bf994d;
  }
}
.result__title-arrow {
  position: absolute;
  width: 50px;
  bottom: 0;
  left: -10px;
}
.result__col {
  width: 636px;
}
.result__col-item {
  position: relative;
  width: 100%;
  background-color: #eeeff3;
  padding-left: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 50px;
  margin-bottom: 40px;
  & > b {
    position: relative;
    z-index: 100;
    display: block;
    font-size: 50px;
    color: #bf994d;
    margin-bottom: 15px;
  }
  & > span {
    position: relative;
    z-index: 100;
    display: block;
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 500;
  }
  & > p {
    position: relative;
    z-index: 100;
    font-size: 18px;
  }
}
.result__col-item--img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.result__col-item:hover .result__col-item--img {
  opacity: 1;
}
.result__col-item:hover {
  color: #fff;
  & > b {
    color: #fff;
  }
}
.result__img {
  width: 492px;
  height: 503px;
  background-image: url(../images/result-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.result__img-dec {
  position: absolute;
  z-index: -1;
  height: 272px;
  left: 0;
  top: 346px;
}

/* advantages */
.advantages__decoration {
  position: absolute;
  left: -100px;
  top: -40px;
  z-index: -100;
  color: #fff;
  text-shadow: -1px 0 #cbcbcb, 0 1px #cbcbcb, 1px 0 #cbcbcb, 0 -1px #cbcbcb;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
}
.advantages {
  position: relative;
  padding-top: 120px;
  padding-bottom: 70px;
  color: #0c1014;
  margin: 70px 0;
}
.advantages__row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.advantages__row-item {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  min-height: 160px;

  & > span {
    position: absolute;
    top: -48px;
    right: 35%;
    font-size: 65px;
    color: #fff;
    text-shadow: -1px 0 #cbcbcb, 0 1px #cbcbcb, 1px 0 #cbcbcb, 0 -1px #cbcbcb;
    font-weight: 800;
    transition: 0.3s;
  }
  &:hover span {
    text-shadow: -1px 0 #bf994d, 0 1px #bf994d, 1px 0 #bf994d, 0 -1px #bf994d;
  }
}
.advantages__row-item--text {
  font-weight: 500;
  font-size: 16px;
}
.advantages__row-item--img {
  width: 70px;
  position: absolute;
  z-index: 200;
  left: 40px;
}

.advantages__row-item--content {
  z-index: 200;
}
.advantages__row-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #f7f7f7;
  z-index: 100;
  transition: 0.3s;
}
.advantages__row-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #bf994d;
  transition: 0.3s;
}
.advantages__row-item:hover::before {
  transform: translate(-8%, 8%);
}
.advantages__row-item--text {
  padding-left: 124px;
}

/* help */
.help {
  margin: 70px 0;
  color: #0c1014;
}
.help__inner {
  position: relative;
}
.help__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 45px;
  & > span {
    border-bottom: 4px solid #bf994d;
  }
}
.help__title-adaptive {
  display: none;
}
.help__decoration {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: -100;

  color: #fff;
  text-shadow: -1px 0 #cbcbcb, 0 1px #cbcbcb, 1px 0 #cbcbcb, 0 -1px #cbcbcb;

  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
}
.help__row {
  display: flex;
  justify-content: flex-end;
}
.help__col {
  width: 773px;
  display: flex;
  flex-wrap: wrap;
}
.help__item {
  width: 386px;
  min-height: 160px;
  padding: 0 20px;
  margin-bottom: 35px;
  & > span {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: #bf994d;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  & > p {
    font-size: 16px;
  }
}
.help__item:hover {
  & > span {
    transform: translateY(-3px);
  }
}
.item-1 {
  order: 1;
}
.item-2 {
  order: 3;
}
.item-3 {
  order: 4;
}
.item-4 {
  order: 2;
}
